

:root{
    --text-lblue:#ccd6f6;
    --bg-blue-1:#5e83e8;
    --text-grey: #495670;
    --clr-white: #fff;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --bg-black-2: rgb(35, 35, 35);
}

.section-title {
    margin-bottom: 4rem;
    text-align: center;
    color: #fff;
}

.bg-grey {
    background: var(--bg-black-2) !important;
}

.service-container{
    width: 100%;
    height: auto;
}

.inner-service-container{
    width: 90%;
    margin: 0 auto;
}

.service {
    background: var(--bg-blue-1);
    padding: 3rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: var(--radius);
    text-align: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    cursor: pointer;
    color: white;
  }
  .service-icon {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--text-lblue);
  }
  .underline {
    width: 3rem;
    margin: 0 auto;
    height: 0.12rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .service p {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .service:hover {
    background: var(--clr-grey-1);
    color: var(--clr-white);
  }
  .service:hover p {
    color: var(--clr-white);
  }
  .service:hover .underline {
    background: var(--clr-white);
  }
  @media screen and (min-width: 676px) {
    .services-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
    }
  }
  @media screen and (min-width: 992px) {
    .services-center {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }